<app-header [goBack]="false">
  <span class="head_logo logo">ele.me</span>
</app-header>
<app-loading *ngIf="isFetching | async"></app-loading>
<nav class="city_nav">
  <div class="city_tip">
    <span>当前定位城市：</span>
    <span>定位不准时，请在城市列表中选择</span>
  </div>
  <a class="guess_city" [routerLink]="['/city/search', guessCityid | async]">
    <span>{{guessCity | async}}</span>
    <svg class="arrow_right">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right"></use>
    </svg>
  </a>
</nav>
<section id="hot_city_container">
  <h4 class="city_title">热门城市</h4>
  <ul class="citylistul clear">
    <li *ngFor="let item of hotCities | async" [routerLink]="['/city/search', item.id]">
      {{ item.name}}
    </li>
  </ul>
</section>
<section class="group_city_container">
  <ul class="letter_classify">
    <li *ngFor="let item of cityGroup | async" class="letter_classify_li">
      <h4 class="city_title">{{item.key}}
        <span v-if="index == 0">（按字母排序）</span>
      </h4>
      <ul class="groupcity_name_container citylistul clear">
        <li *ngFor="let city of item.cities" class="ellipsis" [routerLink]="['/city/search', city.id]">
          {{city.name}}
        </li>
      </ul>
    </li>
  </ul>
</section>
