<div class="shoplist_container">
  <ul *ngIf="shopListArr?.length">
    <li [routerLink]="['/msite/shop', geohash, item.id]" *ngFor="let item of shopListArr" class="shop_li">
      <section>
        <img [attr.src]="item.image_path | imageBaseUrl" class="shop_img">
      </section>
      <div class="shop_right">
        <header class="shop_detail_header">
          <h4 class="shop_title ellipsis" [class.premium]="item.is_premium">{{item.name}}</h4>
          <ul class="shop_detail_ul">
            <li class="supports" *ngFor="let support of item.supports">
              {{support.icon_name}}
            </li>
          </ul>
        </header>
        <h5 class="rating_order_num">
          <section class="rating_order_num_left">
            <section class="rating_section">
              <app-rating-star [rating]='item.rating'></app-rating-star>
              <span class="rating_num">{{item.rating}}</span>
            </section>
            <section class="order_section">
              月售{{item.recent_order_num}}单
            </section>
          </section>
          <section class="rating_order_num_right">
            <span class="delivery_style delivery_left" *ngIf="item.delivery_mode">{{item.delivery_mode.text}}</span>
            <span class="delivery_style delivery_right" *ngIf="zhunshi(item.supports)">准时达</span>
          </section>
        </h5>
        <h5 class="fee_distance">
          <p class="fee">
            ¥{{item.float_minimum_order_amount}}起送
            <span class="segmentation">/</span>
            {{item.piecewise_agent_fee.tips}}
          </p>
          <p class="distance_time">
            <span>{{ item.distance}}</span>
            <span class="segmentation">/</span>
            <span class="order_time">{{item.order_lead_time}}</span>
          </p>
        </h5>
      </div>
    </li>
  </ul>
  <ul class="animation_opactiy" *ngIf="!shopListArr?.length">
    <li class="list_back_li" *ngFor="let item of [0,1,2,3,4,5,6,7,8,9]">
      <img src="../../../../assets/images/shopback.svg" class="list_back_svg">
    </li>
  </ul>
  <p *ngIf="touchend" class="empty_data">没有更多了</p>
  <aside class="return_top" (click)="backTop()" *ngIf="showBackStatus">
    <svg class="back_top_svg">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#backtop"></use>
    </svg>
  </aside>
  <!-- <div style="background-color: red;"></div> -->
  <app-loading *ngIf="showLoading"></app-loading>
</div>
