<app-header signin-up='msite'>
  <a class="link_search search" routerLink="/msite/search">
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <circle cx="8" cy="8" r="7" stroke="rgb(255,255,255)" stroke-width="1" fill="none" />
      <line x1="14" y1="14" x2="20" y2="20" style="stroke:rgb(255,255,255);stroke-width:2" />
    </svg>
  </a>

  <a [routerLink]="['/city']" class="msite_title msite-title">
    <span class="title_text ellipsis">{{msiteTitle | async}}</span>
  </a>
</app-header>
<nav class="msite_nav">
  <app-category-list-swiper *ngIf="foodTypes | async" [foodTypes]="foodTypes | async"></app-category-list-swiper>
  <img src="../../../assets/images/fl.svg" class="fl_back animation_opactiy" *ngIf="!(foodTypes | async)?.length">
</nav>
<div class="shop_list_container">
  <header class="shop_header">
    <svg class="shop_icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#shop"></use>
    </svg>
    <span class="shop_header_title">附近商家</span>
  </header>
  <app-shop-list *ngIf="(shopListArr | async)?.length" [geohash]="geohash" [shopListArr]="shopListArr | async" [showLoading]="showLoading | async"></app-shop-list>
</div>
<app-footer></app-footer>
