@import '../../../assets/mixin.scss';
@keyframes mymove {
  0% {
    transform: scale(1)
  }
  25% {
    transform: scale(.8)
  }
  50% {
    transform: scale(1.1)
  }
  75% {
    transform: scale(.9)
  }
  100% {
    transform: scale(1)
  }
}

@-moz-keyframes mymove {
  0% {
    transform: scale(1)
  }
  25% {
    transform: scale(.8)
  }
  50% {
    transform: scale(1.1)
  }
  75% {
    transform: scale(.9)
  }
  100% {
    transform: scale(1)
  }
}

@-webkit-keyframes mymove {
  0% {
    transform: scale(1)
  }
  25% {
    transform: scale(.8)
  }
  50% {
    transform: scale(1.1)
  }
  75% {
    transform: scale(.9)
  }
  100% {
    transform: scale(1)
  }
}

@-o-keyframes mymove {
  0% {
    transform: scale(1)
  }
  25% {
    transform: scale(.8)
  }
  50% {
    transform: scale(1.1)
  }
  75% {
    transform: scale(.9)
  }
  100% {
    transform: scale(1)
  }
}

.shop_back_svg_container {
  position: fixed;
  @include wh(100%, 100%);
  img {
    @include wh(100%, 100%);
  }
}

.shop_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
}

.goback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  z-index: 11;
  padding-top: 0.2rem;
  padding-left: 0.2rem;
}



.activities_details {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262626;
  z-index: 200;
  padding: 1.25rem;
  .activities_shoptitle {
    text-align: center;
    @include sc(.8rem, #fff);
  }
  .activities_ratingstar {
    display: flex;
    justify-content: center;
    transform: scale(2.2);
    margin-top: .7rem;
  }
  .activities_list {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    @include sc(.5rem, #fff);
    li {
      margin-bottom: .2rem;
      .activities_icon {
        padding: 0 .02rem;
        display: inline-block;
        border: 0.025rem solid #fff;
        border-radius: 0.1rem;
      }
      span {
        color: #fff;
        line-height: .6rem;
      }
    }
  }
  .activities_shopinfo {
    p {
      line-height: .7rem;
      @include sc(.5rem, #fff);
    }
  }
  .activities_title_style {
    text-align: center;
    margin-bottom: 1rem;
    span {
      @include sc(.5rem, #fff);
      border: 0.025rem solid #555;
      padding: .2rem .4rem;
      border-radius: 0.5rem;
    }
  }
  .close_activities {
    position: absolute;
    bottom: 1rem;
    @include cl;
  }
}




.screen_cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 11;
}

.change_show_type {
  display: flex;
  background-color: #fff;
  padding: .3rem 0 .6rem;
  border-bottom: 1px solid #ebebeb;
  div {
    flex: 1;
    text-align: center;
    span {
      @include sc(.65rem, #666);
      padding: .2rem .1rem;
      border-bottom: 0.12rem solid #fff;
    }
    .activity_show {
      color: #3190e8;
      border-color: #3190e8;
    }
  }
}

.rating_container {
  flex: 1;
  overflow-y: hidden;
  flex-direction: column;
  p,
  span,
  li,
  time {
    font-family: Helvetica Neue, Tahoma, Arial;
  }
  .rating_header {
    display: flex;
    background-color: #fff;
    padding: .8rem .5rem;
    margin-bottom: 0.5rem;
    .rating_header_left {
      flex: 3;
      text-align: center;
      p:nth-of-type(1) {
        @include sc(1.2rem, #f60);
      }
      p:nth-of-type(2) {
        @include sc(.65rem, #666);
        margin-bottom: .1rem;
      }
      p:nth-of-type(3) {
        @include sc(.4rem, #999);
      }
    }
    .rating_header_right {
      flex: 4;
      p {
        font-size: .65rem;
        line-height: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span:nth-of-type(1) {
          color: #666;
          margin-right: .5rem;
        }
        .rating_num {
          width: 3rem;
          @include sc(.55rem, #f60);
        }
        .delivery_time {
          @include sc(.4rem, #999);
        }
      }
    }
  }
  .tag_list_ul {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    padding: .5rem;
    li {
      @include sc(.6rem, #6d7885);
      padding: .3rem .3rem;
      background-color: #ebf5ff;
      border-radius: 0.2rem;
      border: 1px;
      margin: 0 .4rem .2rem 0;
    }
    .unsatisfied {
      background-color: #f5f5f5;
      color: #aaa;
    }
    .tagActivity {
      background-color: #3190e8;
      color: #fff;
    }
  }
  .rating_list_ul {
    background-color: #fff;
    padding: 0 .5rem;
    .rating_list_li {
      border-top: 1px solid #f1f1f1;
      display: flex;
      padding: .6rem 0;
      .user_avatar {
        @include wh(1.5rem, 1.5rem);
        border: 0.025rem;
        border-radius: 50%;
        margin-right: .8rem;
      }
      .rating_list_details {
        flex: 1;
        header {
          display: flex;
          flex: 1;
          justify-content: space-between;
          margin-bottom: .3rem;
          .username_star {
            @include sc(.55rem, #666);
            .username {
              color: #666;
              margin-bottom: .2rem;
            }
            .star_desc {
              display: flex;
              align-items: center;
              .time_spent_desc {
                @include sc(.55rem, #666);
                margin-left: .15rem;
              }
            }
          }
          .rated_at {
            @include sc(.4rem, #999);
          }
        }
        .food_img_ul {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: .4rem;
          li {
            img {
              @include wh(3rem, 3rem);
              margin-right: .4rem;
              display: block;
            }
          }
        }
        .food_name_ul {
          display: flex;
          flex-wrap: wrap;
          li {
            @include sc(.55rem, #999);
            width: 2.2rem;
            padding: .2rem;
            border: 0.025rem solid #ebebeb;
            border-radius: 0.15rem;
            margin-right: .3rem;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

.specs_cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: 17;
}

.specs_list {
  position: fixed;
  top: 35%;
  left: 15%;
  width: 70%;
  background-color: #fff;
  z-index: 18;
  border: 1px;
  border-radius: 0.2rem;
  .specs_list_header {
    h4 {
      @include sc(.7rem, #222);
      font-weight: normal;
      text-align: center;
      padding: .5rem;
    }
    .specs_cancel {
      position: absolute;
      right: .5rem;
      top: .5rem;
    }
  }
  .specs_details {
    padding: .5rem;
    .specs_details_title {
      @include sc(.6rem, #666);
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: .4rem 0;
      li {
        font-size: .6rem;
        padding: .3rem .5rem;
        border: 0.025rem solid #ddd;
        border-radius: .2rem;
        margin-right: .5rem;
        margin-bottom: .2rem;
      }
      .specs_activity {
        border-color: #3199e8;
        color: #3199e8;
      }
    }
  }
  .specs_footer {
    @include fj;
    align-items: center;
    background-color: #f9f9f9;
    padding: 0.5rem;
    border: 1px;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    .specs_price {
      span {
        color: #ff6000;
      }
      span:nth-of-type(1) {
        font-size: .5rem;
      }
      span:nth-of-type(2) {
        font-size: .8rem;
        font-weight: bold;
        font-family: Helvetica Neue, Tahoma;
      }
    }
    .specs_addto_cart {
      @include wh(4rem, 1.3rem);
      background-color: #3199e8;
      border: 1px;
      border-radius: 0.15rem;
      @include sc(.6rem, #fff);
      text-align: center;
      line-height: 1.3rem;
    }
  }
}

.show_delete_tip {
  position: fixed;
  top: 50%;
  left: 15%;
  width: 70%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .8);
  z-index: 18;
  @include sc(.65rem, #fff);
  text-align: center;
  padding: .5rem 0;
  border: 1px;
  border-radius: 0.25rem;
}

.move_dot {
  position: fixed;
  bottom: 30px;
  left: 30px;
  svg {
    @include wh(.9rem, .9rem);
    fill: #3190e8;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.fade-choose-enter-active,
.fade-choose-leave-active {
  transition: opacity .5s;
}

.fade-choose-leave,
.fade-choose-leave-active {
  display: none;
}

.fade-choose-enter,
.fade-choose-leave-active {
  opacity: 0;
}

.router-slid-enter-active,
.router-slid-leave-active {
  transition: all .4s;
}

.router-slid-enter,
.router-slid-leave-active {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
}

.toggle-cart-enter-active,
.toggle-cart-leave-active {
  transition: all .3s ease-out;
}

.toggle-cart-enter,
.toggle-cart-leave-active {
  transform: translateY(100%);
}
