<section v-if="!showLoading" class="shop_container">
  <nav class="goback" (click)="goback()">
    <svg width="4rem" height="100%" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <polyline points="12,18 4,9 12,0" style="fill:none;stroke:rgb(255,255,255);stroke-width:3" />
    </svg>
  </nav>
  <app-shop-header [shopDetailData]="shopDetailData | async"></app-shop-header>
  <!-- <section class="activities_details" v-if="showActivities">
    <h2 class="activities_shoptitle">{{shopDetailData.name}}</h2>
    <h3 class="activities_ratingstar">
      <app-rating-star [rating]='shopDetailData.rating'></app-rating-star>
    </h3>
    <section class="activities_list">
      <header class="activities_title_style">
        <span>优惠信息</span>
      </header>
      <ul>
        <li v-for="item in shopDetailData.activities" :key="item.id">
          <span class="activities_icon" :style="{backgroundColor: '#' + item.icon_color, borderColor: '#' + item.icon_color}">{{item.icon_name}}</span>
          <span>{{item.description}}（APP专享）</span>
        </li>
      </ul>
    </section>
    <section class="activities_shopinfo">
      <header class="activities_title_style">
        <span>商家公告</span>
      </header>
      <p>{{promotionInfo}}</p>
    </section>
    <svg width="60" height="60" class="close_activities">
      <circle cx="30" cy="30" r="25" stroke="#555" stroke-width="1" fill="none" />
      <line x1="22" y1="38" x2="38" y2="22" style="stroke:#999;stroke-width:2" />
      <line x1="22" y1="22" x2="38" y2="38" style="stroke:#999;stroke-width:2" />
    </svg>
  </section> -->
  <section class="change_show_type" ref="chooseType">
    <div>
      <span [class.activity_show]="changeShowType === 'food'" (click)="changeShowType='food'">商品</span>
    </div>
    <div>
      <span [class.activity_show]="changeShowType === 'rating'" (click)="changeShowType='rating'">评价</span>
    </div>
  </section>
  <app-shop-food *ngIf="changeShowType === 'food'" [menuList]="menuList | async" [shopDetailData]="shopDetailData | async"
    [showLoading]="showLoading | async"></app-shop-food>
  <!-- <app-shop-rating *ngIf="changeShowType ==='rating'"></app-shop-rating> -->
</section>
